body {
    background-color: whitesmoke;
    font-family:'Coral Pixels', serif ;
}
h1 {color:blue;
    font-size: 40px;
    font-family:'Coral Pixels', serif ;
}

img {
    max-width: calc(100% - 40px);
    margin: 20px auto;
    display: block;
    height: auto;
    box-sizing: border-box;
}